html, body {
    margin: 0;
    min-height: 100%;
    height: 100%;
    overflow-x: hidden;
}
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* FORM FOLDER */
#createFolder {
    width: 100%;
    background-color: rgb(195, 195, 91);
    padding: 0.5em 0;
    text-align: center;
}
#nameCreateFolder {
    width: 70%;
    height: 1.9em;
    outline: none;
    padding-left: 1em;
    font-size: 1.1em;
}
#buttonCreateFolder {
    width: 12em;
    cursor: pointer;
    padding: 0.42em 2em;
    border: none;
    color: white;
    background-color: rgb(59, 137, 59);
    font-size: 1.1em;
    transition: all .3s ease;
}
#buttonCreateFolder:hover {
    background-color: rgb(53, 105, 53);
}
.createElement {
    font-size: 1.6em;
    font-weight: bold;
}

/* FORM TASK */
#createTask {
    width: 100%;
    background-color: rgb(124, 195, 91);
    padding: 0.5em 0;

    display: flex;
    justify-content: center;
}
#titleCreateTask {
    width: 18.8%;
    height: 1.9em;
    outline: none;
    padding-left: 1em;
    font-size: 1.1em;
    margin-right: 0.22em;
}
#contentCreateTask {
    min-width: 50%;
    max-width: 50%;
    width: 50%;
    height: 1.3em;
    min-height: 1.3em;
    max-height: 20em;
    outline: none;
    padding: 0.375em 0 0.375em 1em;
    font-size: 1.1em;
    margin-right: 0.22em;
}
#buttonCreateTask {
    width: 12em;
    cursor: pointer;
    padding: 0.42em 2em;
    border: none;
    color: white;
    background-color: rgb(82, 123, 199);
    font-size: 1.1em;
    transition: all .3s ease;
}
#buttonCreateTask:hover {
    background-color: rgb(51, 103, 136);
}

/* CONTAINER */
#container {
    border: 1em solid black;
    width: 98.5%;
    min-height: 84.7%;
    height: fit-content;
    /* SCREEN WALLPAPER */

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
/* FOLDER */
.folder {
    cursor: grab;
    font-weight: bold;
    margin: 0.3em;
    min-width: 200px;
    width: fit-content;
    min-height: 120px;
    background-color: rgb(195, 195, 91);
    border: 5px solid black;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    font-size: 1.2em;
    position: absolute;
}
.folder > p {
    margin: 0.3em 0;
    font-size: 1.2em;
}
.folder:active {
    cursor: grabbing;
}
.removeFolder:after {
    content: "X";
    text-align: center;
    cursor: pointer;
    width: 25px;
    height: 25px;
    font-size: 0.9em;
    color: white;
    background-color: brown;

    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

/* TASK */
.taskContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.task {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    margin: 0.3em;
    width: 163.3px;
    height: 90px;
    background-color: rgb(124, 195, 91);
    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    font-size: 1.2em;

    transition: width .3s ease, height .3s ease;
    position: relative;
    left: 0;
    top: 0;
}
.task:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.removeTask:after {
    content: "X";
    cursor: pointer;
    width: 20px;
    height: 20px;
    font-size: 0.7em;
    color: white;
    background-color: brown;

    position: absolute;
    top: 0.5em;
    right: 0.5em;
}
.zoomTask {
    width: fit-content;
    min-height: 90px;
    height: fit-content;
}
.task {
    font-size: 0.9em;
}
.task h4 {
    margin: 0.3em 0.8em 0 0.8em;
}
.task p {
    font-weight: normal;
    margin: 0.3em 0.8em 0.5em 0.8em;
    display: none;
    white-space: pre;
}

.selected {
    background-color: rgb(102, 160, 75);
}
#group {
    display: flex;
    flex-wrap: wrap;
}